// Variable reference
$body-bg: $gray-500;
$bs-body-color: $red;

$link-color:                              $indigo-500;
$link-decoration:                         underline;
$link-shade-percentage:                   20%;
$link-hover-color:                        $indigo-300;
$link-hover-decoration:                   null ;